body {
  text-align: center;
  background-color: #222;
  color: white;
}

input {
  height: 4vh;
  border: 1px solid #222;
  border-radius: 5px;  
  font-size: 0.85em;
  padding: 0 0.5rem;
}

.croos-out {
  text-decoration: line-through;
}

.fas, .far {
  padding: 0 1rem;
  font-size: 1.25em;
}

.margin {
  margin: 1.1rem 0;
}

.margin-b {
  margin-bottom: 0.7rem;
}

.display-flex {
  display: flex;
  justify-content: center;
}

.border-right {
  border-right: 2px solid white;
}

.fas:hover {
  color: rgb(24, 197, 24);
}

.far:hover {
  color: red;
}

